<div class="contents">
  <div class="success">
    <h2>
      インプットが完了しました。
    </h2>
    <br>
    <h2>
      Inputting has done.
    </h2>
  </div>
</div>
<div class="btn">
    <a href="/posts">あなたの頭脳へ戻る</a>
</div>