.contents {
  background: url('digital-brain.jpg');
    background-position: center;                     /* 画像の表示位置を指定 */
    background-size: cover;                                 /* 画像のサイズを指定  */
    font-family: Monotype Corsiva;
}

h2 {
color: white;
}