<!DOCTYPE html>
<html>
  <head>
    <title>Stardy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header class="header">
      <h1 class="title"><a href="/posts">Stardy</a></h1>
      <a href="/posts/new" class="btn btn-solid-silver">インプット</a>
    </header>
    
    <%= yield %>
    
    
  <footer>
    <footer class="footer">
      Copyright Stardy 2020.
    </footer>
  </body>
</html>
